@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lilita+One&family=Paytone+One&family=Rubik+Doodle+Shadow&display=swap');        


:root {
    --purple: rgba(120,12,84,1);
    --peach: #fc8f3b;
    --clear: rgba(251,226,175,1);
  }
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.wrapper {
  margin: 0;
  padding: 0;
  height: 100vh; 
  width: 100vw; 
  background-image: url('../public/images/logo.png'); 
  background-position: center;
  background-repeat: repeat-y;
}

.formRegister{
    background-color: rgba(255, 255, 255, 0.082);
    position: absolute;
    top: 20%;
    margin-inline: 10vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5%;
    color:#fbe2af;
    backdrop-filter: blur(10px);


}

.formRegister input{
    margin: 5vw 0vw;
    height: 8vw;
    font-size: 4vw;

}

.formRegister h2{
    font-family: "Truculenta", sans-serif;

}

.formRegister button{
    margin: 2vw 2vw;
    background-color:#7c646c;
    border-radius: 5%;
    border: none;
    color: #fadda7;
    font-size: 5vw;

}

.formRegister a{
    text-decoration: none;
    color: white;
    text-shadow: 2px 1px 1px var(--purple);

}
.formRegister details p{
    text-shadow: 2px 1px 1px var(--purple);
}

@media only screen and (min-width: 768px) {

    .formRegister{
        left: 10%;
        width: 60vw;

    }

    .formRegister input{
        font-size: 3vw;
        margin: 1vw 5vw;
        height: 5vw;
    }


}

@media only screen and (min-width: 992px) {

    .wrapper {

        background-position: center;
        background-repeat: repeat-y;
        height: 100vh;
    }
    .formRegister{
        top: 0;
        width: 50%;
        display: flex;
 

    }

    .formRegister input{
        font-size: 1vw;
        height: 3vw;
        width: 20vw;

 
    }

    .formRegister button{
        font-size: 2vw;
    }



}



.homePage{
    min-height: 100vh; /* Ensures the div takes the full viewport height */
    display: grid;
    /* grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;  */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 12vw 15vw 55vw 55vw 55vw 1fr;

} 



header{
    font-size: 2.5vw;
    /* height: fit-content; */
    background-color: var(--purple);
    /* grid-area: 1/1/2/11; */
    grid-area: 1/1/2/5;

    color: lightyellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
header h4{

    padding: 1vw;
    font-family: "Lilita One", sans-serif;
    color: transparent;
    background-color: #070420;
    width: fit-content;
    border-radius: 10%;



}

header h4 span{
    background: linear-gradient(180deg, rgba(251,226,175,1) 4%, rgba(214,105,69,1) 18%, rgba(120,12,84,1) 68%);
    background-clip: text;
}
header h3{
    padding: 2vw;
    font-family: "Lilita One", sans-serif;
    color: transparent;
    /* background-color: #070420;
    width: fit-content; */
    font-size: 5vw;

}
header h3 span{
    background: linear-gradient(180deg, var(--clear) 4%, var(--peach) 18%, var(--clear) 68%);

    background-clip: text;
    
}


header h5 span{
    font-family: "Truculenta", sans-serif;
    color: var(--clear);

}

header section{
    font-size: 2vw;
    text-decoration: none;
    color: white;
}

nav{
    background-color:var(--peach);
    /* grid-area: 2/1/2/11; */
    grid-area: 2/1/2/5;

    color: rgb(43, 1, 80);
    font-family: "Lilita One", sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav div{
    font-size: 3vw;
}
aside{
    background-color:var(--purple);
    grid-area: 3/1/6/2; 

     /* grid-area: 3/1/19/3;  */
     color: lightyellow;
}

main{
    background-color: var(--clear);
    grid-area: 3/2/6/5;

    /* grid-area: 3/3/19/11; */
    color: rgb(43, 1, 80);
}



footer{
    background-color:#fc8f3b;
    grid-area: 6/1/6/6;
    font-size: 2vw;

    /* grid-area: 19/1/20/11; */

}